<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghibli App</title>
    <meta name="author" content="Alex Chang">
    <meta name="description" content="Ghibli Movie App rewritten in Vue.js">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="root">
       <img src="./img/header.png" alt="Studio Ghibli Logo">
        <div class="container" id="app">
          <div class="search-wrapper">
            <input class="search-input" v-model="query" v-on:change="logStuff()" type="text" placeholder="Filter by title, year, or director">
          </div>
          <p class="no-results" v-if="!filteredMovies.length">Sorry, no results!</p>
          <div class="card" v-for="movie in filteredMovies">
            <div class="card-content">
                <h1 class="title">
                  {{ movie.title }}
                </h1>
                <p>
                  {{ movie.description | truncateText(50) }}
                </p>
                <div class="card-details">
                  <div class="card-details-inner">
                    <p><span>Director: </span>{{ movie.director }}</p>
                    <p><span>Release Date: </span> {{ movie.release_date }}</p>
                    <p><span>RT Score: </span> {{ movie.rt_score }}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
   </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" defer></script>
    <script type="text/javascript" src="js/app.js" defer></script>
</body>
</html>